// .article-title {
//   display: flex;
//   justify-content: space-around;
//   padding-top: 30px;
//   border-bottom: 1px solid;
//   padding-bottom: 17px;
//   span {
//     font-size: $font-size-lg;
//     font-weight: $font-weight-normal;
//   }
// }


// .article-details {
//   .article-details__img {
//     text-align: center;
//     img {
//       width: 720px;
//       height: 100%;
//     }
//   }
//   p {
//     width: 705px;
//     font-size: 16px;
//     color: #404040;
//     margin: auto;
//   }
// }

.article-details__title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 10px;
    color: #0d7f97;
}