.main-footer {
    background: #115740;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}


.footer_copyright {
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
        margin: 0;
    }
}